.mar20t{
    margin-top:20px;
}
.patient-apt-item{
    margin-top:5px;
    
}
.sex{
   margin-bottom:20px;     
}
.block{
    display:block;
}
.mar10lr{
    margin-left:10px;
    margin-right:10px;
}

.pad20lr{
    padding-left:20px;
    padding-right:20px;
}

.mar20t{
    margin-top: 20px;
}