.pad30{
    padding:30px
}


.mar30{
    margin:30px;
}

.mat-autocomplete-panal{
    max-height: 150px!important;
}

.mar20lr{
    margin-left: 20px;
    margin-right: 20px;
}

.contact-input{
    width:30%;
}

.width25-perc{
width:25%;
}

.margin-20t{
    margin-top:20px;
}

.mar20{
    margin:20px;
}

.header-border{
    border:2px solid black;
}