<h1 mat-dialog-title>Supplier Price</h1>
<div mat-dialog-content>
  <!-- <label id="patient-radio-group-label">Pick Patient from list</label> -->
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <td>ProductName</td>
        <td>Price</td>
        <td>Type</td>
      </tr>


    </thead>
    <tbody>
      <tr *ngFor="let item of supPriceList">
        <td scope="row">{{item.product_name}}</td>
        <td scope="row">{{item.product_price}}</td>
        <td scope="row">{{item.ref_desc}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>