.mar20t{
    margin-top:20px;
}
.supplier-item{
    margin-top:5px;
    
}
.sex{
   margin-bottom:20px;     
}
.block{
    display:block;
}
.mar10lr{
    margin-left:10px;
    margin-right:10px;
}
.txt-danger{
    color: red;
}
.pointer{
    cursor: pointer;
}

.circle-red {
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
  }
  .circle-green {
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%;
  }
.d-flex {
    display: flex;
}
.delete-icon-disabled{
    opacity: 0.5;
}

.card {
    min-height: 100px;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: row !important;
  }
.text-right{
    text-align: right;
    padding: 0;
}